# Python
__pycache__/
*.py[cod]
.venv/
backend/data/*.db

# Node
node_modules/
.npm-cache/
dist/
frontend/dist/

# 环境
.env
.DS_Store

# iOS (Capacitor)
frontend/ios/DerivedData/
frontend/ios/App/Pods/
frontend/ios/App/App.xcworkspace/xcuserdata/
*.xcuserstate
frontend/ios/DerivedDataRelease/
