<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-08-24T14:38:19Z</date>
	<key>WorkspacePath</key>
	<string>/Users/minye/Documents/DeepSeek_Harness/HR_Trainner/frontend/ios/App/App.xcodeproj</string>
</dict>
</plist>
